
%footer#footer

  .wrapper
    .links
      %img{ src: "/images/si.png", class: "si"}
      %p.contact
        %span
          %i.fa.fa-envelope
          %a{href: 'mailto:hello@siyelo.com'}hello@siyelo.com
        %span
          %i.fa.fa-phone
          +27 79 864 1542
        %span
          %a{ title:"Siyelo on Twitter", href:"http://twitter.com/#!/siyelo"}
            %i.fa.fa-twitter

          %a{ title:"Siyelo on Github", href:"http://github.com/siyelo"}
            %i.fa.fa-github

          %a{ title:"Siyelo blog RSS feed", href:"http://blog.siyelo.com/atom.xml"}
            %i.fa.fa-rss

        %span &copy; 2014 Siyelo

    %ul.text
      %li
        %span Our team of designers and developers can turn your idea into an amazing product
        %a{href: '/hire-us'} Hire us

      %li
        %span Technology, programming and the business of building apps.
        %a{href: 'http://blog.siyelo.com'} Visit the Siyelo blog

      %li
        %span If you're enthusiastic about technology and business, drop us a line.
        %a{href: '/hire-us'} Join our team

