
%footer#footer

  .wrapper
    %img{ src: "/images/si.png", class: "si"}
    %p.contact.left
      %span
        %i.fa.fa-envelope
        %a{href: 'mailto:hello@siyelo.com'}hello@siyelo.com
      %span
        %i.fa.fa-phone
        +27 79 864 1542

    %ul
      %li
        %a{href: '/hire-us'} Hire us
        %span Our team of designers and developers can turn your idea into an amazing product
      %li
        %a{href: 'http://blog.siyelo.com'} Visit the Siyelo blog
        %span Technology, programming and the business of building apps.
      %li
        %a{href: '/hire-us'} Join our team
        %span If you're enthusiastic about technology and business, drop us a line.

    %ul
      %li
        %a{href: 'http://blog.siyelo.com'} Visit the Siyelo blog
      %li
        %a{ title:"Siyelo on Twitter", href:"http://twitter.com/#!/siyelo"}
          %i.fa.fa-twitter
        %a{ title:"Siyelo on Github", href:"http://github.com/siyelo"}
          %i.fa.fa-github
        %a{ title:"Siyelo blog RSS feed", href:"http://blog.siyelo.com/atom.xml"}
          %i.fa.fa-rss
      %li
        %span &copy; 2014 Siyelo
