
%footer#footer
  
  .wrapper
    %a{title:'Go back to top', href:'#spaced', class:'js-smooth circle'}
      %img{ src:"/images/logo-circle.png", alt: ''}
    %ul.text
      %li
        %i.fa.fa-magic
        %span Our team of designers and developers can turn your idea into an amazing product
        %a{href: '/hire-us', title: 'Hire Siyelo'} Hire us

      %li
        %i.fa.fa-lightbulb-o
        %span Technology, programming and the business of building apps.
        %a{href: 'http://blog.siyelo.com', title: 'Go to our blog'} Visit our blog

      %li
        %i.fa.fa-rocket
        %span If you're enthusiastic about technology and business, drop us a line.
        %a{href: '/jobs', title: 'Apply for a job'} Join the team

    .links
      %img{ src: "/images/logo-orbital.png", class: "si", alt: 'Siyelo orbital logo'}
      %p.contact
        %span
          %a{href: 'mailto:hello@siyelo.com', title: 'Mail Siyelo'} hello@siyelo.com
        %span +27 79 864 1542
        %span
          %a{ title:"Siyelo on Twitter", href:"http://twitter.com/#!/siyelo"}
            %i.fa.fa-twitter

          %a{ title:"Siyelo on Github", href:"http://github.com/siyelo"}
            %i.fa.fa-github

          %a{ title:"Siyelo blog RSS feed", href:"http://blog.siyelo.com/atom.xml"}
            %i.fa.fa-rss

    //%p.meta &copy; 2014 Siyelo