
%footer#footer
  .wrapper
    %img{ src: "/images/si.png", class: "si"}
    %p.contact.left
      %span
        %i.fa.fa-envelope
        %a{href: 'mailto:hello@siyelo.com'}hello@siyelo.com
      %span
        %i.fa.fa-phone
        +27 79 864 1542

    %ul
      %li
        %a{ title:"Siyelo on Twitter", href:"http://twitter.com/#!/siyelo"}
          %i.fa.fa-twitter
        %a{ title:"Siyelo on Github", href:"http://github.com/siyelo"}
          %i.fa.fa-github
        %a{ title:"Siyelo blog RSS feed", href:"http://blog.siyelo.com/atom.xml"}
          %i.fa.fa-rss
      %li
        %span &copy; 2014 Siyelo
