.wrapper
  %h1#logo
    %a.js-smooth{href: "/", title: 'Siyelo Home'}
      %img{src: '/images/logo.png', alt: 'Siyelo logo'}
  
  %a.right#menu-toggle{href: '#', title: 'Toggle mobile navigation'}
    %i.fa.fa-bars
  
  %nav#main-nav
    %ul
      %li
        %a.js-smooth{href: '#work', title: 'Scroll to our Work section'}
          Work
      %li
        %a.js-smooth{href: '#team', title: 'Scroll to our Team section'}
          Team
      %li
        %a.js-smooth{href: '#community', title: 'Scroll to our Community section'}
          Community
      %li
        %a.js-smooth{href: '#office', title: 'Scroll to our Offices section'}
          Offices
      %li
        %a.js-smooth{href: 'hire-us', class: 'hireus', title: 'Hire Siyelo'}
          Hire Us
