%nav#mini-nav
  %a{:href=>"/#cs-eos"}
    %img{:src=>"/images/mini-logo-elementary.png"}
    %span
      %i.fa.fa-chevron-left
      Go back to the site

%nav#slide-nav
  %a{:href=>"/clients/clinton-health-access-initiative", :id=>"previous-slide"}
    %i.fa.fa-chevron-left
  %a{:href=>"/clients/mad-mimi", :id=>"next-slide"}
    %i.fa.fa-chevron-right

%section.case
  .wrapper

    %h1 EoS Marketplace
    %h2 An innovative free-market

    .image
      %img{:src=>"/images/study/eos.jpg"}

    %h2 A project on the brink

    %p
      Cooco had outsourced the development of their social networking
      platform and their project was in dire straits.
      Not only was it several months late, but it was full of defects, and
      unfit for a public beta release.
      Tied into a fixed-price engagement, there was little they could do
      to control the deteriorating situation.

    %h2 Pivot

    %p
      Cooco originally approached Siyelo to help salvage something from
      the project and secure future funding rounds.
      We gave an honest assessment and soon after the Cooco team decided
      to pivot, focusing on just the e-commerce aspects of the platform.
      Thus the idea for EoS as a standalone product was born.

      With a tight budget and a large problem space, we helped Cooco
      understand the risks and tradeoffs associated with different approaches
      to developing their product. Siyelo's iteration-based pricing model
      gave Cooco the ability to quickly see their idea in action and the
      flexibility to adjust the vision along the way.

      With just a handful of man-weeks of design & development, some concise
      and well-tested Ruby on Rails code, and a lot of incredible collaboration
      we launched EoS in-time for the next round of funding.

