%section.case
	.wrapper

		%h1
			Rescue a project
			%span EOS Marketplace
			%a{:href=>"#"} http://url.com
		
		%h2 A dark cloud

		%p Cooco approached us after having their fixed-price Ruby on Rails project delivered not only 9 months late but chock-full of bugs.
		 
		%h2 With a silver lining
		 
		%p In less than (?) man-months of development we launched EoS, a fully functional online marketplace 
