%header#header.sticky
  = partial('./views/shared/_header.haml')

%section#form

  .wrapper
    .txt-heading
      %h1 Hire Siyelo

    %form{name: 'contact_email', action: '/hire-us', method: 'post'}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'What is your name'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'What is your email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'What is your phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What would you like to hire Siyelo to do for you?'}

        %li
          %input{type: 'text', name: 'budget', placeholder: 'What is your budget?'}

        %li
          %input{type: 'submit', value: 'Send'}
