%header#header.sticky
  .wrapper
    %h1#logo
      %a.js-smooth{:href => "/"}
        %img{src: '/images/logo.png', :title => "Siyelo", :alt => "Siyelo logo"}
    %a.right#menu-toggle{href: '#'}
      %i.fa.fa-bars
    %nav#main-nav
      %ul
        %li
          %a{href: '/#work'}
            Work
        %li
          %a{href: '/#team'}
            Team
        %li
          %a{href: '/#community'}
            Community
        %li
          %a{href: '/#office'}
            Offices
        %li
          %a{href: 'hire-us', class: 'hireus'}
            Hire Us
%section#form

  .wrapper
    .txt-heading
      %h1 Hire Siyelo

    %form{name: 'contact_email', action: '/hire-us', method: 'post'}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'What is your name'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'What is your email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'What is your phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What would you like to hire Siyelo to do for you?'}

        %li
          %input{type: 'text', name: 'budget', placeholder: 'What is your budget?'}

        %li
          %input{type: 'hidden', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li
          %input{type: 'submit', value: 'Send'}
