.wrapper

  %h1 Hire Us

  %form{name: 'contact_email', action: '/hireus', method: 'post'}
    %label Your full name
    %input{name: 'full_name'}

    %br
    %br

    %label What is your email address?
    %input{name: 'email'}

    %br
    %br

    %label What is your phone number?
    %input{name: 'phone'}

    %br
    %br

    %label What would you like Siyelo to do for you?
    %textarea{name: 'description'}

    %br
    %br

    %label What is your budget?
    %input{name: 'budget'}

    %br
    %br

    %input{type: 'submit'}
