%nav#mini-nav
  %a{:href=>"/"}
    %img{:src=>"./images/mini-logo-elementary.png"}
    %span
      %i.fa.fa-chevron-left
      Go back to the site

%section#form

  .wrapper
    .txt-heading
      %h1 Hire Siyelo
      %p Tell us something about your project. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.


    %form{name: 'contact_email', action: '/hireus', method: 'post'}
      %ul
        %li
          //%label Your full name?
          %input{type: 'text', name: 'full_name', placeholder: 'Your full name'}

        %li
          //%label Your email address?
          %input{type: 'text', name: 'email', placeholder: 'Your email address?'}

        %li
          //%label Your phone number?
          %input{type: 'text', name: 'phone', placeholder: 'Your phone number?'}

        %li
          //%label What would you like Siyelo to do for you?
          %textarea{type: 'text', name: 'description', placeholder: 'What would you like Siyelo to do for you?'}

        %li
          //%label Do you have a budget?
          %input{type: 'text', name: 'budget', placeholder: 'Do you have a budget?'}

        %li
          %input{type: 'submit', value: 'Send'}
