%header#header.sticky
  .wrapper
    %h1#logo
      %a.js-smooth{:href => "/"}
        %img{src: '/images/logo.png', :title => "Siyelo", :alt => "Siyelo logo"}
    %a.right#menu-toggle{href: '#'}
      %i.fa.fa-bars
    %nav#main-nav
      %ul
        %li
          %a{href: '/#work'}
            Client Work
        %li
          %a{href: '/#team'}
            Team
        %li
          %a{href: '/#community'}
            Community
        %li
          %a{href: '/#contact'}
            Contact

%section#form

  .wrapper
    .txt-heading
      %h1 Hire Siyelo

    %form{name: 'contact_email', action: 'https://formkeep.com/f/0868d6cf9701', method: 'post', :'accept-charset' => "UTF-8"}
      %input{type: 'hidden', name: 'utf8', value: "✓"}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'What is your name'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'What is your email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'What is your phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: "What's your project about? What kind of help do you need?"}

        %li
          %input{type: 'text', name: 'budget', placeholder: 'What is your budget?'}

        %li
          %input{type: 'text', id: 'fav_movie', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li
          %input{type: 'submit', value: 'Send'}

%script
  $(document).ready(function(){
  $('#fav_movie').hide();
  });
