/ - @title = 'blah'


%script
  // sticky navigation menu
  / stickyNav('#header');

%header#header
  = partial('./views/shared/_header.haml')

%section#spaced

  %header.wrapper
    %hgroup#big
      %h1 
        We turn great ideas
        %br
        into great applications
      %h2
        Build your next web/mobile app with an experienced team.

  #space

  %p.scroll
    %a#work2.js-smooth{:href => "#work", title: 'Scroll down'}
      %span keep going
      %img{src: "/images/scroll.png", alt:'Scroll down arrow image'}

%section#work.content
  .wrapper
    .txt-heading
      %h1 What we do
      %p
        Clients hire us to build amazing products and services.
        %br
        We partner. We prototype. We ship working software. 
        %br
        We build web and mobile apps with Ruby and Javascript.

  %ul.projects
    %li.ta#cs-tad#trigger1
      .wrapper
        .right.third#animate1-4
          %h2 Launch a new idea
          %p Looking to bring a new web app to market? You need a team to help design, develop and deliver it.
          %p
            %a{href: '/clients/talented-africa', title: 'Go to Talented Africa case study'}
              See how we launched Talented Africa
        .preview.two-thirds.left
          %img#animate1-1{src: "/images/study/tad-laptop.png", alt: 'Talented Aftica Laptop preview'}
          %img#animate1-2{src: "/images/study/tad-tablet.png", alt: 'Talented Africa Tablet preview'}
          %img#animate1-3{src: "/images/study/tad-mobile.png", alt: 'Talented Africa Mobile preview'}

    %li.is#cs-is#trigger2
      .wrapper
        .left.third#animate2-1
          %h2 Streamline your business
          %p Need to save costs? Rethinking the way you are doing things? We've helped clients save costs by rapidly replacing their legacy systems.
          %p
            %a{href: '/clients/internet-solutions', title: 'Go to Internet Solutions case study'}
              How we saved costs for Internet Solutions
        .preview.two-thirds.right
          %img#animate2-2{src: "/images/study/is.jpg", alt:'Internet Solutions preview'}

    %li.chai#cs-chai#trigger3
      .wrapper
        .right.third#animate3-1
          %h2 Improve your user's experience
          %p Apps nowadays must be intuitive to use and visually appealing. We can help design and implement responsive and intuitive interfaces.
          %p
            %a{href: '/clients/clinton-health-access-initiative', title: 'Go to Clinton Health Access Initiative case study'}
              How we helped CHAI re-imagine their UX
        .preview.two-thirds.left
          %img#animate3-2{src: "/images/study/chai.jpg", alt:'Clinton Health Foundation preview'}

    %li.cooco#cs-eos#trigger4
      .wrapper
        .left.third#animate4-1
          %h2 Rescue a project
          %p
            Software projects (and some developers!) are notoriously difficult to manage.
            But it doesn't have to be that way.
            Our collaborative approach helped some of our clients to start fresh and really
            turn things around.
          %p
            %a{href: '/clients/cooco', title: 'Go to Cooco case study'}
              How we pivoted and lanched EOS Marketplace
        .preview.two-thirds.right
          %img#animate4-2{src: "/images/study/eos-desktop.png", alt:'EOS desktop preview'}
          %img#animate4-3{src: "/images/study/eos-laptop.png", alt:'EOS laptop preview'}
          %img#animate4-4{src: "/images/study/eos-tablet.png", alt:'EOS tablet preview'}
          %img#animate4-5{src: "/images/study/eos-mobile.png", alt:'EOS mobile preview'}

    %li.madmimi#cs-mm#trigger5
      .wrapper
        .right.third#animate5-1
          %h2 Improve an existing product
          %p
            Need to launch new features sooner than your current capacity allows?
            As an experienced team available at reasonably short notice, we've helped many
            clients solve this problem.
          %p
            %a{href: '/clients/mad-mimi', title: 'Go to Mad Mimi case study'}
              How we helped the Mad Mimi team
        .preview.two-thirds.left
          %img#animate5-2{src: "/images/study/madmimi-desktop.png", alt: 'Mad Mimi desktop preview'}
          %img#animate5-3{src: "/images/study/madmimi-laptop.png", alt: 'Mad Mimi laptop preview'}
          %img#animate5-4{src: "/images/study/madmimi-tablet.png", alt: 'Mad Mimi tablet preview'}
          %img#animate5-5{src: "/images/study/madmimi-phablet.png", alt: 'Mad Mimi phablet preview'}
          %img#animate5-6{src: "/images/study/madmimi-mobile.png", alt: 'Mad Mimi mobile preview'}

  .logos
    .wrapper
      %h2
        We've had the honour of working
        %br
        with these great companies

    %ul
      %li
        %img{src: "/images/logos/madmimi.png", alt: 'MadMimi client logo'}
        %h3
          Mad Mimi
          %span Email Marketing
      %li
        %img{src: "/images/logos/hetzner.png", alt: 'Hetzner client logo'}
        %h3
          Hetzner
          %span ISP
      %li
        %img{src: "/images/logos/chai.png", alt: 'CHAI client logo'}
        %h3
          Clinton Health Access Initiative
          %span NGO
      %li
        %img{src: "/images/logos/is.png", alt: 'Internet Solutions client logo'}
        %h3
          Internet Solutions
          %span ISP
      %li
        %img{src: "/images/logos/tad.png", alt: 'TalentedAfrica client logo'}
        %h3
          Talented Africa
          %span Accounting Platform
      %li
        %img{src: "/images/logos/classroom7.png", alt: 'Classroom7 client logo'}
        %h3
          Classroom 7
          %span On-line Learning
      %li
        %img{src: "/images/logos/eos.png", alt: 'EoS client logo'}
        %h3
          EOS
          %span On-line Shop
      %li
        %img{src: "/images/logos/activitar.png", alt: 'Activitar client logo'}
        %h3
          Activitar
          %span Activity Database
      %li
        %img{src: "/images/logos/funkudu.png", alt: 'Funkudu client logo'}
        %h3
          Funkudu
          %span Activity Bookings
      %li
        %img{src: "/images/logos/abt.png", alt: 'ABT client logo'}
        %h3
          ABT Associates
          %span NGO
      %li
        %img{src: "/images/logos/sneakerlab.png", alt: 'SneakerLab client logo'}
        %h3
          Sneaker Lab
          %span Premium Shoe Care
      %li
        %img{src: "/images/logos/eeco.png", alt: 'EspressEco client logo'}
        %h3
          Espresseco
          %span Espresso Capsules
      %li
        %img{src: "/images/logos/wildtwig.png", alt: 'WildTwig client logo'}
        %h3
          WildTwig
          %span On-line Learning
  .cta
    %a{:href => "/hire-us", title: 'Hire Siyelo' }
      Want to work with us?
      %span Let's Talk!


%section#team.content
  .wrapper
    .txt-heading
      %h1 Our Team
      %p Siyelo was founded in 2008. We care about quality, building the right thing, and crafting remarkable web applications. We love open source software and giving back to the community.

  %ul.team
    %li
      .bwWrapper
        %img{src: '/images/team/glenn.jpg', alt: 'Glenn Roberts'}
      .txtWrapper
        %h3
          Glenn Roberts
          %span Founder & developer
        %p Glenn is the founder and lead developer at Siyelo. He brings over 12 years of professional software development experience and a rather strange sense of humor to the team.

    %li
      .bwWrapper
        %img{src: './images/team/dime.jpg', alt: 'Dime Pashoski'}
      .txtWrapper
        %h3
          Dime Pashoski
          %span Designer
        %p Dime has 6 years professional web design and front-end development experience, specializing in visual design and usability for web applications. A qualified architect, Dime has a keen eye for detail and practical solutions.

    %li
      .bwWrapper
        %img{src: '/images/team/stu.jpg', alt: 'Stuart Corbishley'}
      .txtWrapper
        %h3
          Stuart Corbishley
          %span Developer
        %p Stuart is an experienced software developer specializing in Ruby, Rails and systems integration. Having a background in scaling and automation he is also a practiced photographer, bringing a passion for simple and beautiful designs inside and out.

    %li
      .bwWrapper
        %img{src: '/images/team/nic.jpg', alt: 'Nic Young'}
      .txtWrapper
        %h3
          Nic Young
          %span Developer
        %p Nic has seven years of professional development experience, and is a published author of short fiction. He thinks Haskell is the demanding supermodel of languages, and Ruby the girl next door. He brings unnecessary metaphors to the team.

    %li
      .bwWrapper
        %img{src: '/images/team/ile.jpg', alt: 'Ilija Eftimov'}
      .txtWrapper
        %h3
          Ile Eftimov
          %span Developer
        %p Ile joined Siyelo as a fresh computer science graduate. With hard work, dedication, enthusiasm and mentorship, he's on-track to becoming a great developer. Ile likes to experiment with Ruby and to contribute to the Open Source community.

    %li
      .bwWrapper
        %img{src: '/images/team/charleen.jpg', alt: 'Charleen Marais'}
      .txtWrapper
        %h3
          Charleen Marais
          %span Office manager
        %p
          Charleen is responsible for the smooth operation of the day-to-day business of the company. She makes it possible for other people to function efficiently. Working closely with the company partners, to meet our company’s needs. Also doing anything and everything everyone else procrastinates on.

    %li
      .bwWrapper
        %img{src: '/images/team/wendy.jpg', alt: 'Wendy Williams'}
      .txtWrapper
        %h3
          Wendy Williams
          %span Accounting
        %p Wendy is our trusted, excel-creating, generally-amazing administrator. Her good sense of humor and calming, zen-like presence mean she's a joy to be around. Except if your invoice is past due...

  .cta
    %a{:href => "/jobs", title: 'Apply for a job' }
      Want to join the team?
      %span Click here to apply

%section#community.content
  .wrapper
    .txt-heading
      %h1 Our Community
      %p Siyelo is very passionate about supporting and giving back to the community. We sponsor and host events, we love contributing to open source just as much we enjoy using open source. If you are looking for sponsorship for a local event, get in touch with us, maybe we can help!
  %ul.community
    %a{href: 'http://www.meetup.com/Code-Coffee-Cape-Town/', target: '_blank', title: 'Go to Code & Coffee Cape Town page' }
      %li.cnc.fourth
        %h2
          %span We organize
          Code & Coffee
          %br
          Cape Town
          %br
          %img{src:'/images/events/cnc-logo.png', alt: 'Code & Coffee Cape Town logo'}
    %a{href: 'http://www.railsbridge.org/', target: '_blank', title: 'Go to Rails Bridge page' }
      %li.rb.fourth
        %h2
          %span We host
          Rails Bridge
          %br
          %img{src:'/images/events/rb-logo.png', alt: 'Rails Bridge logo'}
    %a{href: 'http://www.rubyfuza.org/', target: '_blank', title: 'Go to Ruby Fuza page' }
      %li.rf.fourth
        %h2
          %span We design
          RubyFuza
          %br
          %img{src:'/images/events/rf-logo.png', alt: 'Ruby Fuza logo'}
    %a{href: 'http://coderetreat.org/events/global-day-of-coderetreat-2013-skopje-macedonia', target: '_blank', title: 'Go to Code Retreat Skopje page' }
      %li.cr.fourth
        %h2
          %span We sponsor
          Code Retreat
          %br
          Skopje
          %br
          %img{src:'/images/events/cr-logo.png', alt: 'Code Retreat Skopje logo'}

%section#contact.content
  .wrapper

    .txt-heading
      %h1 Contact Us
    %p
      %a{href: 'mailto:hello@siyelo.com', title: 'Email Siyelo'} hello@siyelo.com
    %p
      %a{href: 'tel:+27 (0) 79 864 1542', title: 'Call Siyelo'} +27 (0) 79 864 1542
    %p 
      %a{:href => "/hire-us", title: 'Hire Siyelo' }
        Need help with a project?
        %span Let's Talk!
    %br

  #map-canvas

%script{:src => '/javascripts/mylibs/sticky-nav.js'}
