%section#work.content

  .wrapper
    .txt-heading
      %h1 Our work
      %p We like building software that people use. To do that, we start by understanding your business and the problem at hand. We prototype. We ship working software. We learn. We iterate. We work closely with you throughout.
      %p Clients commonly come to us to:

  %ul.projects
    %li.ta
      .wrapper
        .right.third
          %h2 Launch a new idea
          %p Maybe you are looking to bring a new web app to market. You need a team to help design, develop and deliver it.
          %p
            %a{href: '#'}
              Talented Africa case study coming soon
          /%p= link_to "See what we did for TalentedAfrica", "talented-africa"
        .preview.two-thirds.left
          %img{src: "./images/study/tad.jpg"}

    %li.is
      .wrapper
        .left.third
          %h2 Streamline your business
          %p Maybe you need to save costs by rethinking the way you are doing things. We've helped clients save costs by rapidly replacing their legacy systems.
          %p
            %a{href: '#'}
              Internet Solutions case study coming soon
          /%p= link_to "See what we did for Internet Solutions", "is"
        .preview.two-thirds.right
          %img{src: "./images/study/tad.jpg"}

    %li.chai
      .wrapper
        .right.third
          %h2 Improve your user's experience
          %p Maybe you're building an app and it needs visual appeal. We've helped clients design and implement responsive and intuitive interfaces for their applications.
          %p
            %a{href: '#'}
              Clinton Health Access Initiative case study coming soon
          /%p= link_to "See what we did for Clinton Health Access Initiative", "chai"
        .preview.two-thirds.left
          %img{src: "./images/study/tad.jpg"}

    %li.cooco
      .wrapper
        .left.third
          %h2 Rescue a project
          %p Maybe you've had a bad experience with a development team. We've helped clients turn things around and get their app to market, fast.
          %p
            %a{href: '#'}
              EOS Marketplace case study coming soon
          /%p= link_to "See what we did for EOS Marketplace", "eos"
        .preview.two-thirds.right
          %img{src: "./images/study/tad.jpg"}

    %li.madmimi
      .wrapper
        .right.third
          %h2 Improve an existing product
          %p Maybe you need to add features to your existing web app. We do a lot of development work to help clients launch the next version of their application.
          %p
            %a{href: '#'}
              Mad Mimi case study coming soon
          /%p= link_to "See what we did for Mad Mimi", "madmimi"
        .preview.two-thirds.left
          %img{src: "./images/study/tad.jpg"}

  .logos
    .wrapper
      %h2
        We've had the honour of working
        %br
        with these great companies

    %ul
      %li
        %img{src: "./images/logos/abt.png"}
      %li
        %img{src: "./images/logos/tad.png"}
      %li
        %img{src: "./images/logos/is.png"}
      %li
        %img{src: "./images/logos/chai.png"}
      %li
        %img{src: "./images/logos/madmimi.png"}
      %li
        %img{src: "./images/logos/hetzner.png"}
      %li
        %img{src: "./images/logos/eos.png"}
      
      

      -# /%li
        -# /%img{src: "logos/slab.png"}
        -# /%p Sneaker Lab
      -# /%li
        -# -# %img{src: "logos/eeco.png"}
        -# /%p Espresseco
  .cta
    %a{:href => "mailto:hello@siyelo.com"}
      Want to work with us?
      %span Hire us now!


%section#team.content
  .wrapper
    .txt-heading
      %h1 Our Team
      %p Siyelo was founded in 2008. We care about quality, building the right thing, and crafting remarkable web applications. We love open source software and giving back to the community.

  %ul.team
    %li
      .bwWrapper
        %img{src: './images/team/stu.jpg'}
      %h3
        Glenn Roberts
        %span Founder & developer

    %li
      .bwWrapper
        %img{src: './images/team/nic.jpg'}
      %h3
        Dime Pashoski
        %span Designer

    %li
      .bwWrapper
        %img{src: './images/team/stu.jpg'}
      %h3
        Stuart Corbishley
        %span Developer

    %li
      .bwWrapper
        %img{src: './images/team/nic.jpg'}
      %h3
        Nic Young
        %span Developer

    %li
      .bwWrapper
        %img{src: './images/team/ile.jpg'}
      %h3
        Ile Eftimov
        %span Developer

    %li
      .bwWrapper
        %img{src: './images/team/wendy.jpg'}
      %h3
        Wendy Williams
        %span Accounting

    %li
      .bwWrapper
        %img{src: './images/team/ile.jpg'}
      %h3
        Charleen
        %span Office manager
  .cta
    %a{:href => "mailto:hello@siyelo.com"}
      Wanna join a great team?
      %span Apply now!

%section#community.content
  .wrapper
    .txt-heading
      %h1 Our Community
      %p Siyelo is very passionate about supporting and giving back to the community. We sponsor and host events, we love contributing to open source just as much we enjoy using open source. If you are looking for sponsorship for a local event, get in touch with us, maybe we can help!
  %ul.community
    %li.cnc.fourth
      %h3
        %span We organize
        Code & Coffee Cape Town
    %li.rb.fourth
      %h3
        %span	We host
        Rails Bridge
    %li.rf.fourth
      %h3
        %span We design
        RubyFuza
    %li.cr.fourth
      %h3
        %span We sponsor
        Code Retreat Skopje

%section#office.content
  .wrapper

    .txt-heading
      %h1 Our offices
      %p Siyelo is a remote company, meaning, we are located in two different cities, in two different countries, on two different continents. Our HQ is located in Cape Town near the City Bowl. Our second office is in Skopje, Macedonia. It is located in the very heart of the city. If you are around, regardless if it's Cape Town or Skopje, please stop by and say hello!
      %p.contact
        %i.fa.fa-envelope
        hello@siyelo.com
        %i.fa.fa-phone
        +27214612050


    %ul.offices
      %li.ssa
        .big.planet
          %iframe{width: "550", height: "550", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: "https://maps.google.com/maps?q=79+Roeland+St,+Cape+Town,+South+Africa&hl=en&ll=-33.92955,18.4222&spn=0.00292,0.005659&sll=37.0625,-95.677068&sspn=45.418852,92.724609&oq=79+Roe&hnear=79+Roeland+St,+Cape+Town,+Western+Cape+8000,+South+Africa&t=m&z=18&output=embed" }
        %ul
          %li Suite #1, 4th Floor
          %li 79 Roeland Street
          %li Cape Town, 8001
          %li South Africa

      %li.smk
        .small.planet
          %iframe{frameborder: "0", height: "320", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.mk/maps?ie=UTF8&cid=3518245121301413205&q=Siyelo+Skopje&gl=MK&hl=en&t=m&iwloc=A&ll=41.996821,21.428321&spn=0.006295,0.006295&output=embed", width: "320"}
        %ul
          %li Suite #5, 1st Floor
          %li Marx & Engels 7
          %li Skopje, 1000
          %li Macedonia
