%script
  // sticky navigation menu
  stickyNav('#header');

%header#header
  = partial('./views/shared/_header.haml')

%section#spaced

  %header.wrapper
    %hgroup
      %h1
        We turn great ideas
        %br
        into great applications
      %h2
        Build your next web/mobile app with an experienced team.

  %ul
    %li
      %img#space{:src=>"/images/engine-blur.jpg"}
    / %li
    /   %img#stars-1{:src=>"images/stars-1.png"}
    / %li
    /   %img#stars-2{:src=>"images/stars-2.png"}
    / %li
    /   %img#stars-3{:src=>"images/stars-3.png"}
  %p.scroll

    %a#work2.js-smooth{:href => "#work"}
      %span keep going
      %img{src: "/images/scroll.png"}


%section#work.content

  .wrapper
    .txt-heading
      %h1 Our work
      %p
        Clients hire us to build amazing products and services.
        We always start by understanding their business first. We
        workshop. We prototype. We ship working software. We learn and
        we iterate. We collaborate very closely throughout the entire project.

  %ul.projects
    %li.ta#cs-tad
      .wrapper
        .right.third
          %h2 Launch a new idea
          %p Looking to bring a new web app to market? You need a team to help design, develop and deliver it.
          %p
            %a{href: '/clients/talented-africa'}
              See how we launched Talented Africa
        .preview.two-thirds.left
          %img{src: "/images/study/tad.jpg"}

    %li.is#cs-is
      .wrapper
        .left.third
          %h2 Streamline your business
          %p Need to save costs? Rethinking the way you are doing things? We've helped clients save costs by rapidly replacing their legacy systems.
          %p
            %a{href: '/clients/internet-solutions'}
              How we saved costs for Internet Solutions
        .preview.two-thirds.right
          %img{src: "/images/study/is.jpg"}

    %li.chai#cs-chai
      .wrapper
        .right.third
          %h2 Improve your user's experience
          %p Apps nowadays must be intuitive to use and visually appealing. We can help design and implement responsive and intuitive interfaces.
          %p
            %a{href: '/clients/clinton-health-access-initiative'}
              How we helped CHAI re-imagine their UX
        .preview.two-thirds.left
          %img{src: "/images/study/chai.jpg"}

    %li.cooco#cs-eos
      .wrapper
        .left.third
          %h2 Rescue a project
          %p
            Software projects (and some developers!) are notoriously difficult to manage.
            But it doesn't have to be that way.
            Our collaborative approach helped some of our clients to start fresh and really
            turn things around.
          %p
            %a{href: '/clients/cooco'}
              How we pivoted and lanched EOS Marketplace
        .preview.two-thirds.right
          %img{src: "/images/study/eos.jpg"}

    %li.madmimi#cs-mm
      .wrapper
        .right.third
          %h2 Improve an existing product
          %p
            Need to launch new features sooner than your current capacity allows?
            As an experienced team available at reasonably short notice, we've helped many
            clients solve this problem.
          %p
            %a{href: '/clients/mad-mimi'}
              How we helped the Mad Mimi team
        .preview.two-thirds.left
          %img{src: "/images/study/madmimi.jpg"}

  .logos
    .wrapper
      %h2
        We've had the honour of working
        %br
        with these great companies

    %ul
      %li
        %img{src: "/images/logos/madmimi.png", alt: 'MadMimi'}
      %li
        %img{src: "/images/logos/hetzner.png", alt: 'Hetzner'}
      %li
        %img{src: "/images/logos/chai.png", alt: 'CHAI'}
      %li
        %img{src: "/images/logos/is.png", alt: 'Internet Solutions'}
      %li
        %img{src: "/images/logos/tad.png", alt: 'TalentedAfrica'}
      %li
        %img{src: "/images/logos/classroom7.png", alt: 'Classroom7'}
      %li
        %img{src: "/images/logos/eos.png", alt: 'EoS'}
      %li
        %img{src: "/images/logos/activitar.png", alt: 'Activitar'}
      %li
        %img{src: "/images/logos/funkudu.png", alt: 'Funkudu'}
      %li
        %img{src: "/images/logos/abt.png", alt: 'ABT'}
      %li
        %img{src: "/images/logos/sneakerlab.png", alt: 'SneakerLab'}
      %li
        %img{src: "/images/logos/eeco.png", alt: 'EspressEco'}
      %li
        %img{src: "/images/logos/wildtwig.png", alt: 'WildTwig'}
  .cta
    %a{:href => "/hire-us" }
      Want to work with us?
      %span Hire us now!


%section#team.content
  .wrapper
    .txt-heading
      %h1 Our Team
      %p Siyelo was founded in 2008. We care about quality, building the right thing, and crafting remarkable web applications. We love open source software and giving back to the community.

  %ul.team
    %li
      .bwWrapper
        %img{src: '/images/team/glenn.jpg'}
      .txtWrapper
        %h3
          Glenn Roberts
          %span Founder & developer
        %p Glenn is the founder and lead developer at Siyelo. He brings over 12 years of professional software development experience and a rather strange sense of humor to the team.

    %li
      .bwWrapper
        %img{src: './images/team/dime.jpg'}
      .txtWrapper
        %h3
          Dime Pashoski
          %span Designer
        %p Dime has 6 years professional web design and front-end development experience, specializing in visual design and usability for web applications. A qualified architect, Dime has a keen eye for detail and practical solutions.

    %li
      .bwWrapper
        %img{src: '/images/team/stu.jpg'}
      .txtWrapper
        %h3
          Stuart Corbishley
          %span Developer
        %p Stuart is an experienced software developer specializing in Ruby, Rails and systems integration. Having a background in scaling and automation he is also a practiced photographer, bringing a passion for simple and beautiful designs inside and out.

    %li
      .bwWrapper
        %img{src: '/images/team/nic.jpg'}
      .txtWrapper
        %h3
          Nic Young
          %span Developer
        %p Nic has seven years of professional development experience, and is a published author of short fiction. He thinks Haskell is the demanding supermodel of languages, and Ruby the girl next door. He brings unnecessary metaphors to the team.

    %li
      .bwWrapper
        %img{src: '/images/team/ile.jpg'}
      .txtWrapper
        %h3
          Ile Eftimov
          %span Developer
        %p Ile joined Siyelo as a fresh computer science graduate. With hard work, dedication, enthusiasm and mentorship, he's on-track to becoming a great developer. Ile likes to experiment with Ruby and to contribute to the Open Source community.

    %li
      .bwWrapper
        %img{src: '/images/team/charleen.jpg'}
      .txtWrapper
        %h3
          Charleen Marais
          %span Office manager
        %p
          Charleen is responsible for the smooth operation of the day-to-day business of the company. She makes it possible for other people to function efficiently. Working closely with the company partners, to meet our company’s needs. Also doing anything and everything everyone else procrastinates on.

    %li
      .bwWrapper
        %img{src: '/images/team/wendy.jpg'}
      .txtWrapper
        %h3
          Wendy Williams
          %span Accounting
        %p Wendy is our trusted, excel-creating, generally-amazing administrator. Her good sense of humor and calming, zen-like presence mean she's a joy to be around. Except if your invoice is past due...

  .cta
    %a{:href => "/jobs" }
      Want to join the team?
      %span Click here to apply

%section#community.content
  .wrapper
    .txt-heading
      %h1 Our Community
      %p Siyelo is very passionate about supporting and giving back to the community. We sponsor and host events, we love contributing to open source just as much we enjoy using open source. If you are looking for sponsorship for a local event, get in touch with us, maybe we can help!
  %ul.community
    %a{href: 'http://www.meetup.com/Code-Coffee-Cape-Town/', target: '_blank' }
      %li.cnc.fourth
        %h2
          %span We organize
          Code & Coffee
          %br
          Cape Town
          %br
          %img{src:'/images/events/cnc-logo.png'}
    %a{href: 'http://www.railsbridge.org/', target: '_blank' }
      %li.rb.fourth
        %h2
          %span We host
          Rails Bridge
          %br
          %img{src:'/images/events/rb-logo.png'}
    %a{href: 'http://www.rubyfuza.org/', target: '_blank' }
      %li.rf.fourth
        %h2
          %span We design
          RubyFuza
          %br
          %img{src:'/images/events/rf-logo.png'}
    %a{href: 'http://coderetreat.org/events/global-day-of-coderetreat-2013-skopje-macedonia', target: '_blank' }
      %li.cr.fourth
        %h2
          %span We sponsor
          Code Retreat
          %br
          Skopje
          %br
          %img{src:'/images/events/cr-logo.png'}

%section#office.content
  .wrapper

    .txt-heading
      %h1 Our offices
      %p
        Siyelo works remotely, both with our clients, and within our own team.
        Our virtual office is built around tools like PivotalTracker, FlowDock, Sqwiggle,
        ScreenHero and GitHub.

      %p
        Sometimes we spend-time in the third-dimension at our Cape Town or Skopje offices.
        If you are in the neighbourhood, feel free to stop by for a coffee and a lesson in
        table tennis.

    %ul.offices
      %li.ssa
        %ul
          %li Suite 401
          %li 79 Roeland Street
          %li Cape Town, 8001
          %li South Africa

        .big.planet
          %a{:href=>"https://plus.google.com/+SiyeloCapeTown/posts", :target=>"_blank"}
            %img{src: "./images/ssa.jpg"}

      %li.smk
        %ul
          %li Suite 105
          %li Marx & Engels 7
          %li Skopje, 1000
          %li Macedonia
        .small.planet
          %a{:href=>"https://plus.google.com/118213542007489012764/posts", :target=>"_blank"}
            %img{src: "./images/smk.jpg"}


%script{:src => '/javascripts/mylibs/sticky-nav.js'}
