%header#header.sticky
  .wrapper
    %h1#logo
      %a.js-smooth{:href => "/"}
        %img{src: '/images/logo.png', :title => "Siyelo", :alt => "Siyelo logo"}
    %a.right#menu-toggle{href: '#'}
      %i.fa.fa-bars
    %nav#main-nav
      %ul
        %li
          %a{href: '/#work'}
            Work
        %li
          %a{href: '/#team'}
            Team
        %li
          %a{href: '/#community'}
            Community
        %li
          %a{href: '/#contact'}
            Offices
        %li
          %a{href: 'hire-us', class: 'hireus'}
            Hire Us

%section#form

  .wrapper
    .txt-heading
      %h1 Join Siyelo

    %form{name: 'jobs_email', action: '/jobs', method: 'post'}
      %ul
        %li.radio
          %span What position do you apply for?
          %input{type: 'radio', name: 'position', value: 'apprentice', id: 'apprentice'}
          %label{for: 'apprentice'} Apprentice
          %input{type: 'radio', name: 'position', value: 'developer', id: 'developer'}
          %label{for: 'developer'} Developer
          %input{type: 'radio', name: 'position', value: 'designer', id: 'designer'}
          %label{for: 'designer'} Designer
            

        %li
          %input{type: 'text', name: 'full_name', placeholder: 'What is your name?'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'What is your email address?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What will it be like for us to work with you?'}

        %li
          %input{type: 'text', name: 'portfolio', placeholder: 'Portfolio or Github account URL?'}

        %li
          %input{type: 'text', id: 'fav_movie', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li
          %input{type: 'submit', value: 'Submit'}

%script
  $(document).ready(function(){
  $('#fav_movie').hide();
  });
