%section.case
	.wrapper

		%h1
			Improve an existing product
			%span Mad Mimi
			%a{:href=>"http://www.madmimi.com/", :target=>"_blank"} http://www.madmimi.com/

		%h2 Successful app going forward

		%p
			After a successful redesign of
			%a{:href=>"http://rubyfuza.org/"} Ruby Fuza
			we were engaged by Mad Mimi - an already established email marketing platform, with millions of happy users. The goal was to boost their design and development teams, and help push forward few new usability and design improvements.

		%h2 A foundation for the future

		%p Facing a large and complex code base, we had to be very careful with our approach. We helped develop and design the new email statistics, optimized the site and blog for tablet and mobile, implemented add-ons for Big Commerce and Etsy and helped improve the email templates and optimize them for mobile devices.