%nav#mini-nav
  %a{:href=>"/#cs-mm"}
    %img{:src=>"/images/mini-logo-elementary.png"}
    %span
      %i.fa.fa-chevron-left
      Go back to the site

%section.case
  .image
    %section#dg-container.dg-container
      .dg-wrapper
        %a{href: "#"}
          %img{alt: "image05", src: "/images/study/mm1.png"}
        %a{href: "#"}
          %img{alt: "image06", src: "/images/study/mm2.png"}
        %a{href: "#"}
          %img{alt: "image07", src: "/images/study/mm3.png"}
      %nav
        %span.dg-prev
          %i.fa.fa-chevron-left
        %span.dg-next
          %i.fa.fa-chevron-right

  .wrapper
    %h1
      Mad Mimi
      %span Simple and Beautiful email marketing
    %h2 Successful in a competitive industry

    %p
      MadMimi operates in the competitive email marketing space and it is
      a well-established brand, sending out millions of emails daily.
      With a relatively small team of top developers who were focused on
      keeping the core platform running, MadMimi needed to boost their
      capacity, and
      accelerate the development of new initiatives including some major
      usability and design improvements.

    %h2 A foundation for the future

    %p
      We played key roles in the design and
      development of several new initiatives, including improved email
      statistics, optimization for tablets/mobiles, and building the
      BigCommerce and Etsy add-ons.
      We also helped improve the email templates that client's use to do
      their mail-outs, optimizing them for a wide range of mobile devices.

    %p
      Facing a large legacy Ruby on Rails code base, we were still
      able to rapidly, and carefully, build out well-tested features,
      collaborating entirely remotely the entire time. Our skills with Ruby,
      Javascript, Responsive Design and API design were certainly put to good use.

%nav#slide-nav
  %ul

    %li
      %a{:href=>"/clients/talented-africa"}
        %img{:src=>"/images/logos/tad.png"}
        %br
        Talented Africa
    %li
      %a{:href=>"/clients/clinton-health-access-initiative"}
        %img{:src=>"/images/logos/chai.png"}
        %br
        Clinton Health Access Initiative    
    %li
      %a{:href=>"/clients/internet-solutions"}
        %img{:src=>"/images/logos/is.png"}
        %br
        Internet Solutions
    %li
      %a{:href=>"/clients/cooco"}
        %img{:src=>"/images/logos/eos.png"}
        %br
        EoS Marketplace
    %li
      %a{:href=>"/clients/mad-mimi", :class=>"active"}
        %img{:src=>"/images/logos/madmimi.png"}
        %br
        Mad Mimi

  %p
    %a{:href=>"/clients/internet-solutions", :id=>"previous-slide"}
      %i.fa.fa-chevron-left
    %a{:href=>"/clients/cooco", :id=>"next-slide"}
      %i.fa.fa-chevron-right
