%section.case
	.wrapper

		%h1
			Improve an existing product
			%span Mad Mimi
			%a{:href=>"http://www.madmimi.com/"} http://www.madmimi.com/

		%h2 A successful site

		%p Lorem ipsum dolor sit amet.

		%h2 A foundation for the future

		%p Built the new statistics and refactored the old code, made the site responsive, improved the blog, implemented few external widgets/apps, improved the email templates.