%section.slider
	%a#scroll-left{:href => '#'}
	%a#scroll-right{:href => '#'}
	%section.slide
		%nav#mini-nav
			%a{:href=>"/#cs-tad"}
				%img{:src=>"./images/mini-logo-elementary.png"}
				%span
					%i.fa.fa-chevron-left
					Go back to the site
		%section.case
			.wrapper
				.image
					%img{:src=>"./images/study/tad.jpg"}
				%h1
					Launch A New Idea
				%h2
					%a{:href=>"#", :target=>"_blank"} Talented Africa:
					%span A new approach to an old problem

				%p TalentedAfrica is an extremely easy-to-use accounting package for small businesses who are struggling to keep their records. TalentedAfrica came to Siyelo with several years experience working with, and understanding the challenges facing small enterprises, but lacking the tools to reach more of their target market.
				
				%h2 Focusing on simplicity

				%p We started with several intensive workshops focused on understanding the unique context in which TA will primarily operate (low-bandwidth, low-technology areas), and helped formulate a product roadmap that aligns with TA’s business strategy.

				%p With a solid understanding of TA’s context and vision, we designed a friendly and scalable web-based, mobile-friendly solution to centralize their operations and reach more customers. Leveraging the power of Rails, Postgres, Coffeescript and cloud services, TA is built on a solid foundation for the future, and extensible enough for whatever the new ideas the TA team has along the way.


	%section.slide
		%nav#mini-nav
			%a{:href=>"/#cs-chai"}
				%img{:src=>"./images/mini-logo-elementary.png"}
				%span
					%i.fa.fa-chevron-left
					Go back to the site

		%section.case
			.wrapper
				%h1 Improve your user's experience

				%h2
					%a{:href=>"http://www.districthealth.moh.gov.rw/", :target=>"_blank"} Clinton Health Access Innitiative
					%span A great initiative ...

				%p CHAI was charged with the important task of improve health systems and technology in Rwanda. These tools were important in managing AIDS, Malaria and logistical efforts in-country. Their development team were producing some great applications, but they needed some design and front-end expertise to make them more user-friendly.
				
				%h2… with an interface to match 

				%p Through constant collaboration and feedback we created designs that presented the application data in meaningful ways to the healthcare decision-makers. We supported several iterations of user-testing, prototyping heavily with Balsamiq to optimize workflows, reports and overall UX.

				%p Not only were we responsible for the designs, we also helped implement them. With their development team having chosen a Java-based framework that we were relatively unfamiliar with, we were nonetheless able rapidly integrate using our expertise with JS/HAML/SASS/CSS3.

				%p What’s more, we collaborated entirely remotely on this project, using great tools like Google Docs, Github, Dropbox, PivotalTracker and Skype.


	%section.slide
		%nav#mini-nav
			%a{:href=>"/#cs-is"}
				%img{:src=>"./images/mini-logo-elementary.png"}
				%span
					%i.fa.fa-chevron-left
					Go back to the site

		%section.case
			.wrapper
				%h1 Streamline Your Business

				%h2
					%a{:href=>"http://www.is.co.za/", :target=>"_blank"} Internet Solutions:
					%span A business that had outgrown it’s software

				%p The IS sales team came to us with an enormously complex, and business-critical pricing tool that was no longer scaling to their needs. With an enterprise-wide solution still on the horizon, they desperately needed an interim solution. We handled the analysis and reverse-engineering of their existing tool and built them a centralized web application in just a few short months.
				
				%h2 From complexity to flexibility

				%p Many challenges were met and overcome by Siyelo in the creation of a new VPN pricing tool. We helped unscramble and extract the key business logic that had accumulated organically in their old Excel-based system over the past 12 years, and rapidly build a new web-based solution. 

				%p By collaborating closely with the key stakeholders, and utilizing leading edge tools like Backbone.js, Rails and cloud services, we were able to launch two web applications, for their domestic and international sales teams respectively. The IS sales teams can now properly manage their pricing, quoting and contracts in a central location, while enjoying a significantly reduced administration burden.


	%section.slide
		%nav#mini-nav
			%a{:href=>"/#cs-eos"}
				%img{:src=>"./images/mini-logo-elementary.png"}
				%span
					%i.fa.fa-chevron-left
					Go back to the site

		%section.case
			.wrapper

				%h1 Rescue a project
					
				
				%h2
					%a{:href=>"http://www.eosmarketplace.com/", :target=>"_blank"} EOS Marketplace
					%span A dark cloud...

				%p Cooco approached us after having their fixed-price Ruby on Rails project delivered not only 9 months late but chock-full of bugs.
				 
				%h2 ...With a silver lining
				 
				%p In less than (?) man-months of development we launched EoS, a fully functional online marketplace 


	%section.slide
		%nav#mini-nav
			%a{:href=>"/#cs-mm"}
				%img{:src=>"./images/mini-logo-elementary.png"}
				%span
					%i.fa.fa-chevron-left
					Go back to the site

		%section.case
			.wrapper

				%h1
					Improve an existing product

				%h2
					%a{:href=>"http://www.madmimi.com/", :target=>"_blank"} Mad Mimi
					%span Successful app going forward

				%p
					After a successful redesign of
					%a{:href=>"http://rubyfuza.org/", :target=>"_blank"} Ruby Fuza
					we were engaged by Mad Mimi - an already established email marketing platform, with millions of happy users. The goal was to boost their design and development teams, and help push forward few new usability and design improvements.

				%h2 A foundation for the future

				%p Facing a large and complex code base, we had to be very careful with our approach. We helped develop and design the new email statistics, optimized the site and blog for tablet and mobile, implemented add-ons for Big Commerce and Etsy and helped improve the email templates and optimize them for mobile devices.