%section.case
	.wrapper
		%h1
			Launch A New Idea
			%span Talented Africa
			%a{:href=>"#", :target=>"_blank"} http://url.com

		%h2 A new approach to an old problem

		%p TalentedAfrica is an extremely easy-to-use accounting package for small businesses who are struggling to keep their records. TalentedAfrica came to Siyelo with several years experience working with, and understanding the challenges facing small enterprises, but lacking the tools to reach more of their target market.
		
		%h2 Focusing on simplicity

		%p We started with several intensive workshops focused on understanding the unique context in which TA will primarily operate (low-bandwidth, low-technology areas), and helped formulate a product roadmap that aligns with TA’s business strategy.

		%p With a solid understanding of TA’s context and vision, we designed a friendly and scalable web-based, mobile-friendly solution to centralize their operations and reach more customers. Leveraging the power of Rails, Postgres, Coffeescript and cloud services, TA is built on a solid foundation for the future, and extensible enough for whatever the new ideas the TA team has along the way.