html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "tungsten";
  src: url("fonts/tungsten-semibold-webfont.eot");
  src: url("fonts/tungsten-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tungsten-semibold-webfont.woff") format("woff"), url("fonts/tungsten-semibold-webfont.ttf") format("truetype"), url("fonts/tungsten-semibold-webfont.svg#tungsten") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font: normal 18px/1.6 "Open Sans", Arial, sans-serif;
}

.horizontal {
  *zoom: 1;
}
.horizontal:after {
  content: "";
  display: table;
  clear: both;
}
.horizontal li {
  display: inline;
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  color: #2a2e35;
  font-family: tungsten, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6;
  text-transform: uppercase;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 90%;
  *zoom: 1;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.section {
  *zoom: 1;
}
.section:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: block;
  width: 100%;
}

.half, .third, .two-thirds, .fourth, .three-fourths, .fifth {
  display: inline;
  float: left;
  *zoom: 1;
}
.half:after, .third:after, .two-thirds:after, .fourth:after, .three-fourths:after, .fifth:after {
  content: "";
  display: table;
  clear: both;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.two-thirds {
  width: 67%;
}

.fourth {
  width: 25%;
}

.three-fourths {
  width: 75%;
}

.fifth {
  width: 20%;
}

.left {
  display: inline;
  float: left;
}

.right {
  display: inline;
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

#header {
  padding: 15px 0;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 3;
  *zoom: 1;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header.sticky {
  background: #06121d;
  position: fixed;
  top: 0;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
#header.sticky #logo img {
  max-width: 120px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#header.sticky #main-nav a {
  font-size: 14px;
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -o-transition: font-size 0.4s;
  transition: font-size 0.4s;
}

#logo {
  float: left;
}
#logo a {
  display: block;
  *zoom: 1;
}
#logo a:after {
  content: "";
  display: table;
  clear: both;
}
#logo img {
  float: left;
  max-width: 150px;
  width: 100%;
}

#menu-toggle {
  color: white !important;
  display: none;
  float: right;
}
#menu-toggle i {
  font-size: 2.5em;
  line-height: 30px;
}

a#work-link {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  color: #ed9322;
  display: none;
  letter-spacing: 0.5px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#main-nav {
  float: right;
}
#main-nav ul {
  *zoom: 1;
}
#main-nav ul:after {
  content: "";
  display: table;
  clear: both;
}
#main-nav li {
  float: left;
}
#main-nav a {
  color: white;
  display: block;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 12px 30px 12px 0;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
}
#main-nav a.hireus {
  background: #ed9322;
  margin: 2px 0 0;
  padding: 10px 20px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
#main-nav a.active {
  color: #ed9322;
}

#spaced {
  background: #06121d;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #080813), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#080813, #000000);
  background-image: -moz-linear-gradient(#080813, #000000);
  background-image: -o-linear-gradient(#080813, #000000);
  background-image: linear-gradient(#080813, #000000);
}
#spaced header {
  color: white;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#spaced hgroup {
  position: absolute;
  top: 34%;
}
#spaced h1, #spaced h2 {
  color: white;
  line-height: 0.85;
}
#spaced h1 {
  font-size: 145px;
  max-width: 1000px;
}
#spaced h2 {
  bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  font: 30px/1.4 "open sans";
  letter-spacing: 0.5px;
  margin-top: 20px;
  max-width: 550px;
  text-transform: none;
}
#spaced h2 a {
  background: #ed9322;
  color: white;
  clear: both;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 0.8em;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}
#spaced ul img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
}
#spaced ul img#stars-1 {
  z-index: 1;
}
#spaced ul img#stars-2 {
  opacity: 0.75;
  z-index: 2;
}
#spaced ul img#stars-3 {
  opacity: 0.5;
  z-index: 3;
}

.scroll {
  bottom: 0;
  color: white;
  font-size: 12px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
}
.scroll a {
  background: #00010c;
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 180px;
  opacity: 0.6;
  padding: 25px 0 10px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.scroll a:hover, .scroll a:focus {
  opacity: 1;
}
.scroll span {
  display: none;
  margin-bottom: 15px;
}

#mini-nav {
  display: inline-block;
  left: 10px;
  position: absolute;
  top: 10px;
}
#mini-nav a {
  display: block;
  font-size: 0.8em;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#mini-nav a span {
  display: none;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
}
#mini-nav a i {
  background: #06121d;
  color: #ed9322;
  display: block;
  float: left;
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
#mini-nav a:hover, #mini-nav a:focus {
  background: #06121d;
  color: white;
  min-width: 200px;
}
#mini-nav a:hover span, #mini-nav a:focus span {
  display: block;
}
#mini-nav img {
  float: left;
}

.content {
  *zoom: 1;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}

.txt-heading {
  padding: 8em 0 2.5em;
  max-width: 600px;
}
.txt-heading p {
  margin-bottom: 2em;
}
.txt-heading .fa {
  color: #ed9322;
  font-size: 1.2em;
  margin-right: 5px;
}
.txt-heading .fa-phone {
  margin-left: 30px;
}

#office .txt-heading {
  padding-bottom: 0;
}

.cta {
  background: whitesmoke;
  display: block;
  padding: 5em 0;
}
.cta a {
  background: #ed9322;
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  width: 90%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.cta a:hover, .cta a:focus {
  background: #dc8211;
}
.cta a span {
  display: block;
  font: 40px Tungsten;
  text-transform: uppercase;
}

.projects {
  *zoom: 1;
}
.projects:after {
  content: "";
  display: table;
  clear: both;
}
.projects li {
  border-top: 10px dotted whitesmoke;
  padding-top: 7em;
  margin-bottom: 6em;
  min-height: 550px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.projects li:after {
  content: "";
  display: table;
  clear: both;
}
.projects .third {
  margin-bottom: 20px;
  max-width: 400px;
  text-align: center;
}
.projects .preview.left {
  margin-left: -3em;
}
.projects .preview.right {
  margin-right: -3em;
}
.projects .preview img {
  max-width: 100%;
  width: 100%;
}
.projects h2 {
  color: #2a2e35;
  line-height: 1;
  margin-bottom: 0.2em;
  padding-top: 1em;
}
.projects p {
  color: #2a2e35;
  margin-bottom: 2em;
}
.projects a {
  background: #ed9322;
  color: white;
  display: block;
  font-size: 16px;
  line-height: 1.35;
  margin: 0 auto;
  max-width: 60%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.logos {
  background: whitesmoke;
  padding: 6em 30px 0;
  text-align: center;
}
.logos ul {
  padding: 3em 2em 0;
  text-align: center;
  *zoom: 1;
}
.logos ul:after {
  content: "";
  display: table;
  clear: both;
}
.logos li {
  background: white;
  display: inline-block;
  height: 150px;
  margin: 0 15px;
  overflow: hidden;
  width: 150px;
}
.logos li, .logos .bwWrapper {
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.logos h2 {
  line-height: 1;
}
.logos img, .logos canvas {
  float: left;
  max-width: 150px;
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.logos + .cta {
  padding: 4em 0 5em;
}

.team {
  *zoom: 1;
  background: whitesmoke;
}
.team:after {
  content: "";
  display: table;
  clear: both;
}
.team li {
  cursor: pointer;
  float: left;
  height: 640px;
  overflow: hidden;
  position: relative;
  width: 14.27%;
  *zoom: 1;
}
.team li:after {
  content: "";
  display: table;
  clear: both;
}
.team li.active .txtWrapper {
  background: rgba(0, 0, 0, 0.4);
}
.team .txtWrapper {
  bottom: 0;
  padding: 20px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.team .txtWrapper span {
  display: block;
  font: 14px "open sans";
}
.team h3 {
  color: white;
  line-height: 1.1;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}
.team p {
  color: white;
  display: none;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 1em;
}
.team .bwWrapper {
  height: 100%;
  *zoom: 1;
}
.team .bwWrapper:after {
  content: "";
  display: table;
  clear: both;
}
.team img, .team canvas {
  height: 100%;
  margin-left: -50%;
}
.team img {
  height: 100%;
}

.community {
  background: whitesmoke;
  *zoom: 1;
}
.community:after {
  content: "";
  display: table;
  clear: both;
}
.community li {
  height: 480px;
  padding: 8em 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.community li.cnc {
  background: url("/images/events/cnc.jpg") no-repeat center;
}
.community li.rb {
  background: url("/images/events/rb.jpg") no-repeat center;
}
.community li.rf {
  background: url("/images/events/rf.jpg") no-repeat center;
}
.community li.cr {
  background: url("/images/events/cr.jpg") no-repeat center;
}
.community h3 {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: inline-block;
  line-height: 1.2;
  padding: 0.4em 1em 0.3em;
  text-align: center;
}
.community h3 span {
  display: block;
  font: 16px "open sans";
}

.offices > li {
  margin-bottom: 3em;
}
.offices > li img {
  float: left;
  max-width: 100%;
}
.offices .smk img {
  max-width: 550px;
}
.offices .smk img {
  max-width: 340px;
}

@media only screen and (min-width: 1001px) {
  .offices {
    min-height: 540px;
    position: relative;
  }
  .offices .ssa {
    float: left;
    padding-top: 70px;
    width: 60%;
  }
  .offices .smk {
    float: right;
    text-align: right;
    width: 40%;
  }
  .offices .planet {
    overflow: hidden;
    position: absolute;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
  }
  .offices .big {
    bottom: -8em;
    left: 10%;
  }
  .offices .small {
    top: 0;
  }
  .offices ul {
    opacity: 0.7;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1281px) {
  .offices .small {
    left: 40em;
  }
}
section.case {
  padding: 4em 0;
}
section.case .image {
  text-align: center;
}
section.case .image img {
  max-width: 800px;
  width: 100%;
}
section.case h1 {
  line-height: 1;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
}
section.case h1, section.case h2, section.case p {
  margin: 0 auto;
  max-width: 600px;
}
section.case h2 {
  font: 2.2em Arial;
  line-height: 1.2;
  padding: 0 0 0.4em;
  text-transform: none;
}
section.case h2 a, section.case h2 span {
  color: #394550;
  font-size: 0.9em;
  text-transform: none;
}
section.case h2 a {
  text-decoration: none;
}
section.case h2 a:hover, section.case h2 a:focus {
  color: #ed9322;
}
section.case h2 span {
  display: block;
}
section.case p {
  padding-bottom: 4em;
}
section.case p ~ p {
  padding-bottom: 1.4em;
}
section.case a {
  color: #ed9322;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
section.case a:hover, section.case a:focus {
  color: #c20000;
}

#slide-nav {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  *zoom: 1;
}
#slide-nav:after {
  content: "";
  display: table;
  clear: both;
}
#slide-nav ul {
  *zoom: 1;
}
#slide-nav ul:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 801px) {
  #slide-nav ul {
    padding-bottom: 1.3em;
  }
}
@media screen and (max-width: 800px) {
  #slide-nav ul {
    display: none;
  }
}
#slide-nav li {
  float: left;
  text-align: center;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#slide-nav a {
  color: #06121d;
  display: block;
  font: 2em Tungsten;
  padding: 40px 20px;
  text-decoration: none;
  z-index: 1000;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
#slide-nav a#previous-slide {
  left: 2%;
}
#slide-nav a#next-slide {
  right: 2%;
}
#slide-nav a:hover, #slide-nav a:focus {
  color: #06121d;
}
#slide-nav a span {
  color: #ed9322;
  display: block;
  font: 0.5em Arial;
  padding-top: 0.3em;
}
#slide-nav a img {
  clear: both;
  margin-bottom: -30px;
  text-align: center;
}
#slide-nav p {
  display: none;
}
@media screen and (max-width: 800px) {
  #slide-nav p {
    display: block;
  }
}
#slide-nav p a:first-child {
  float: left;
}
#slide-nav p a:last-child {
  float: right;
}

#form {
  margin-bottom: 5em;
}
#form .txt-heading {
  padding-bottom: 1em;
}
#form li {
  margin-bottom: 1em;
}
#form input[type=text], #form select, #form textarea {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #06121d;
  font: normal 1em/1.4 "open sans";
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#form textarea {
  max-width: 100%;
  min-height: 8em;
}
#form input[type=submit] {
  background: #ed9322;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1.5em;
  padding: 0.8em 2em;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

#flashes {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.flash {
  color: white;
  font-size: 0.75em;
  padding: 0.75em 0;
}
.flash.error {
  background: #c20000;
}
.flash.notice {
  background: #06121d;
}
.flash a {
  color: white;
  float: right;
  opacity: 0.6;
}
.flash a:hover, .flash a:focus {
  opacity: 1;
}

#footer {
  background: #06121d;
  color: white;
  padding: 9em 0 0;
  position: relative;
  z-index: 2;
  *zoom: 1;
}
#footer:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  #footer {
    padding-top: 5em;
  }
}
#footer .wrapper {
  padding-bottom: 9em;
}
#footer ul {
  float: right;
}
#footer a {
  color: #ed9322;
  margin-right: 3px;
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#footer a:hover, #footer a:focus {
  opacity: 1;
}
#footer p.copyright {
  background: rgba(0, 0, 0, 0.8);
  clear: both;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  opacity: 0.3;
  padding: 3em 0 2.5em;
  text-align: center;
  text-transform: uppercase;
}
#footer p.contact {
  padding-left: 100px;
  margin-bottom: 7px;
  opacity: 0.8;
}
#footer p.contact span {
  display: block;
  margin-bottom: 3px;
}
#footer p.contact span:last-child {
  font-size: 14px;
}
#footer p i {
  color: white;
  margin-right: 5px;
}
#footer p i.fa-twitter, #footer p i.fa-github, #footer p i.fa-rss {
  font-size: 1.4em;
  margin-top: 5px;
}

.si {
  float: left;
  margin-right: 30px;
}

.links {
  *zoom: 1;
}
.links:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 801px) {
  .links {
    float: left;
    width: 40%;
  }
}

.text {
  *zoom: 1;
}
.text:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 801px) {
  .text {
    float: right;
    width: 60%;
  }
}
.text li {
  font-size: 14px;
  margin-bottom: 3em;
}
@media screen and (min-width: 801px) {
  .text li {
    float: left;
    padding-left: 3.33%;
    width: 30%;
  }
}
.text span {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.text a {
  background: #ed9322;
  clear: left;
  color: white !important;
  display: inline-block;
  margin-top: 15px;
  padding: 7px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}

.dg-container {
  width: 100%;
  position: relative;
}

.dg-wrapper {
  max-width: 640px;
  height: 540px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
@media screen and (max-width: 800px) {
  .dg-wrapper {
    height: 450px;
  }
}
@media screen and (max-width: 600px) {
  .dg-wrapper {
    height: 320px;
  }
}
@media screen and (max-width: 400px) {
  .dg-wrapper {
    height: 260px;
  }
}
.dg-wrapper a {
  max-width: 640px;
  width: 100%;
  height: 500px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.dg-wrapper a.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img {
  display: block;
  padding: 41px 0px 0px 1px;
}
.dg-wrapper a div {
  font-style: italic;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  color: #333333;
  font-size: 16px;
  width: 100%;
  bottom: -55px;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div {
  display: block;
}

.dg-container nav {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 37%;
  z-index: 1000;
}
.dg-container nav span {
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  width: 24px;
  height: 25px;
  opacity: 0.8;
}
.dg-container nav span:hover {
  opacity: 1;
}
.dg-container nav span.dg-next {
  background-position: top right;
  right: 20%;
}
.dg-container nav span.dg-prev {
  left: 20%;
}

@media only screen and (max-width: 1440px) {
  #spaced h1 {
    font-size: 140px;
    max-width: 800px;
  }
  #spaced h2 {
    font-size: 28px;
  }

  .projects li {
    margin-bottom: 5em;
    padding-top: 6em;
  }
}
@media only screen and (max-width: 1280px) {
  #spaced h1 {
    font-size: 125px;
  }
  #spaced h2 {
    font-size: 26px;
    max-width: 450px;
  }

  .projects li {
    margin-bottom: 2em;
    padding-top: 5em;
  }

  .wrapper {
    width: 85%;
  }
}
@media only screen and (max-width: 1200px) {
  .team li {
    height: 600px;
    width: 25%;
  }
  .team li img, .team li canvas {
    margin-left: -35%;
  }
}
@media only screen and (min-width: 801px) {
  #main-nav {
    display: block !important;
  }

  .wrapper {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 800px) {
  #spaced hgroup {
    top: 30%;
  }
  #spaced h1 {
    font-size: 110px;
    padding-right: 10%;
  }
  #spaced h2 {
    font-size: 28px;
  }

  .half, .third, .two-thirds, .fourth {
    display: block;
    float: none;
    width: auto;
  }

  .third {
    margin: 0 auto;
  }

  #menu-toggle {
    display: block;
    font-size: 10px;
    padding: 2px;
  }

  #header, #header.sticky {
    background: #06121d;
    position: fixed;
    top: 0;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  #header #logo, #header.sticky #logo {
    margin-bottom: 0;
  }
  #header #logo img, #header.sticky #logo img {
    max-width: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  #header .wrapper, #header.sticky .wrapper {
    width: 90%;
  }
  #header .wrapper > span a, #header.sticky .wrapper > span a {
    font-size: 14px;
  }

  #main-nav {
    display: none;
    width: 100%;
  }
  #main-nav ul {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    margin: 1em -5.5% 0;
    width: 111%;
  }
  #main-nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    width: 100%;
  }
  #main-nav ul li:hover {
    background: #ed9322;
  }
  #main-nav ul li a, #main-nav ul li .hireus {
    font-size: 14px;
    padding-left: 5%;
  }
  #main-nav ul li a.hireus, #main-nav ul li .hireus.hireus {
    background: transparent;
  }
  #main-nav ul li a.active, #main-nav ul li .hireus.active {
    color: white;
  }

  a#work-link {
    display: block;
  }

  .wrapper {
    width: 80%;
  }

  a {
    font-size: 14px;
    -webkit-transition: font-size 0.4s;
    -moz-transition: font-size 0.4s;
    -o-transition: font-size 0.4s;
    transition: font-size 0.4s;
  }

  h1 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  .projects li {
    padding-top: 2em;
  }
  .projects .preview.left {
    margin-left: 0;
  }
  .projects .preview.right {
    margin-right: 0;
  }

  .logos li {
    display: inline-block;
    float: none;
    height: 140px;
    margin-bottom: 20px;
    text-align: center;
    width: 140px;
  }

  .team li {
    width: 50%;
    height: 500px;
  }
  .team li img, .team li canvas {
    margin-left: 0;
    min-height: 600px;
    width: auto;
  }

  .community li {
    float: left;
    width: 50%;
  }

  .offices > li {
    margin-bottom: 3em;
  }
  .offices ul {
    margin-top: 0.7em;
  }
}
@media only screen and (max-width: 640px) {
  #spaced hgroup {
    top: 30%;
  }
  #spaced h1 {
    font-size: 95px;
    margin-bottom: 0.4em;
  }
  #spaced h2 {
    font-size: 24px;
    max-width: 240px;
  }

  .team li img, .team li canvas {
    margin-left: -25%;
  }

  .community li {
    width: 100%;
  }

  .logos h2 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 480px) {
  #spaced hgroup {
    top: 20%;
  }
  #spaced h1 {
    font-size: 80px;
    margin-bottom: 0.3em;
  }
  #spaced h2 {
    font-size: 21px;
    max-width: 240px;
  }

  .logos .wrapper {
    width: 100%;
  }
  .logos ul {
    padding: 3em 0 0;
  }
  .logos li {
    height: 120px;
    width: 120px;
  }

  .team li img, .team li canvas {
    margin-left: -50%;
    min-height: 450px;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
    margin-bottom: 0.5em;
  }

  #header, #header.sticky {
    padding: 13px 0 10px;
  }
  #header #logo img, #header.sticky #logo img {
    max-width: 75px;
  }

  a#menu-toggle {
    padding: 3px 2px;
  }
  a#menu-toggle i {
    font-size: 2em;
    line-height: 1;
  }

  a#work-link {
    color: #666666;
    padding: 4px 10px;
  }

  #spaced hgroup {
    top: 28%;
    width: 100%;
  }
  #spaced h1 {
    font-size: 58px;
    line-height: 0.85;
    margin-bottom: 0.2em;
    padding-right: 0;
  }
  #spaced h2 {
    font-size: 18px;
    margin-top: 0;
    max-width: 240px;
  }

  .scroll a {
    max-width: 150px;
    padding: 15px 0 5px;
  }

  .txt-heading {
    padding-top: 5em;
  }

  .planet {
    margin: 0 -12%;
  }

  .community li {
    height: auto;
    padding: 6em 0;
  }

  .cta a {
    max-width: 200px;
  }

  .team li {
    width: 100%;
  }
  .team li img, .team li canvas {
    margin-left: 0;
  }

  #footer ul {
    float: left;
  }
  #footer .si {
    margin-bottom: 25px;
  }

  .logos li {
    height: 100px;
    margin: 0 5px 10px;
    width: 100px;
  }
}
