html, body
  height: 100%

// Main header
#header
  padding: 15px 0
  position: absolute
  top: 70px
  width: 100%
  z-index: 3
  @include pie-clearfix

  // Sticky header
  &.sticky
    background: $one
    position: fixed
    top: 0
    @include transition(background .4s)
    #logo img
      max-width: 120px
      @include transition(all .4s)
    #main-nav a
      font-size: 14px
      @include transition(font-size .4s)

// Siyelo logo
#logo
  float: left
  a
    display: block
    @include pie-clearfix
  img
    float: left
    max-width: 150px
    width: 100%


// Main Navigation toggle
#menu-toggle
  display: none
  float: right
  color: #fff !important

a#work-link
  @include border-radius(1px)
  color: $two
  display: none
  letter-spacing: .5px
  padding: 5px 20px
  text-decoration: none
  text-transform: uppercase

// Main navigation
#main-nav
  float: right
  ul
    @include pie-clearfix
  li
    float: left
  a
    color: #fff
    display: block
    font-size: 16px
    letter-spacing: .5px
    margin: 12px 30px 12px 0
    text-decoration: none
    text-transform: uppercase
    @include text-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px)
    &.hireus
      background: $two
      margin: 2px 0 0
      padding: 10px 20px
      @include border-radius(1px)
    &.active
      color: $two

// Promo
#spaced
  background: $one
  height: 100%
  overflow: hidden
  position: relative
  @include background-image(linear-gradient(#080813, #000))
  header
    color: #fff
    height: 100%
    margin: 0 auto
    max-width: 1200px
    position: relative
    z-index: 1
    @include box-sizing(border-box)
  hgroup
    position: absolute
    top: 34%
  h1, h2
    color: #fff
    line-height: .85

  h1
    font-size: 145px
    max-width: 1000px
    @media screen and (min-width: 1441px)
      font-size: 150px
  h2
    bottom: 0
    color: rgba(255, 255, 255, 0.7)
    font: 32px/1.4 "open sans"
    letter-spacing: .5px
    margin-top: 20px
    max-width: 550px
    text-transform: none
    a
      background: $two
      color: #fff
      clear: both
      display: inline-block
      font-size: .9em
      margin-top: .8em
      padding: 10px 30px
      text-decoration: none
      text-transform: uppercase
      @include border-radius(2px)
      //@include box-shadow($two - #333 0 4px 0)
      @include text-shadow(rgba(0, 0, 0, 0.15) 1px 1px 1px)
  ul img
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
    min-width: 100%

    &#stars-1
      z-index: 1
    &#stars-2
      opacity: .75
      z-index: 2
    &#stars-3
      opacity: .5
      z-index: 3

.scroll
  bottom: 0
  color: #fff
  font-size: 12px
  position: absolute
  text-align: center
  text-transform: uppercase
  width: 100%
  z-index: 2
  a
    background: $one - #111
    color: #fff
    display: block
    margin: 0 auto
    max-width: 180px
    opacity: .6
    padding: 25px 0 10px
    text-align: center
    text-decoration: none
    @include transition(all .4s)
    &:hover, &:focus
      opacity: 1
      span
        //display: block
  span
    display: none
    margin-bottom: 15px


// Mini navigation for case studies
#mini-nav
  display: inline-block
  left: 10px
  position: absolute
  top: 10px
  a
    display: block
    font-size: .8em
    line-height: 40px
    overflow: hidden
    position: relative
    @include transition(all .4s)
    span
      display: none
      height: 40px
      left: 0
      position: absolute
      top: 0
    i
      background: $one
      color: $two
      display: block
      float: left
      font-size: 1.2em
      height: 40px
      line-height: 40px
      text-align: center
      width: 40px
    &:hover, &:focus
      background: $one
      color: #fff
      min-width: 200px
      span
        display: block
  img
    float: left

  